<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Push Notification Demo</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="styles/stylesheet.css">
  </head>
  <body>
    <header>
      <h1>
        Push notification Demo
      </h1>
    </header>
    <main>
      <button class='js-push-button'></button>
    </main>
    <script src="scripts/app.js"></script>
  </body>
</html>
